p {
  margin: 0em 5em 4em 5em;
}

p {
  text-align: left;
  padding-top: 100px;
  line-height: 1.8;
  font-family: 'Roboto', sans-serif;
}

.ml16 {
  color: #402d2d;
  padding: 250px 80px;
  font-weight: 800;
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml3 {
  color: #402d2d;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml2 {
  color: black;
  font-weight: 800;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.form-group {
  color: black;
  font-weight: 600;
  font-size: 1em;
  text-transform: none;
  letter-spacing: 0.1em;
}

.glowIn .letter {
  display: inline-block;
  line-height: 2em;
}

.glowIn {
  color: #402d2d;
  margin: 10px;
  padding: 140px 10px;
  text-align: left;
  font-weight: 800;
  font-size: 1em;
  text-align: justify;

  span {
    animation: glow-in 0.8s both;
  }
}

header {
  height: 110%;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 12;
  border-radius: 25px;
  margin: auto;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

::selection {
  color: #f2f2f2;
  background: #f86d8d;
}

body::before,
body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

body::before {
  clip-path: circle(30% at left 20%);
  opacity: 0.4;
  background-image: linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
}

body::after {
  opacity: 0.4;
  clip-path: circle(25% at right 80%);
  background-image: linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
}

.navbar-brand {
  font-weight: 800;
  color: #402d2d;
}

.h1 {
  color: #402d2d;
  text-transform: uppercase;
  font-weight: 800;
}
